{% extends "CELiceoParaisoBundle::visitor_view.html.twig" %}
{% block submenu %}
    <p><a href="{{path('ce_liceo_paraiso_homepage')}}">Historia</a></p>
    <p><a href="{{path('ce_liceo_paraiso_description')}}">Descripción</a></p>
    <p><a href="{{path('ce_liceo_paraiso_objectives')}}">Objetivos</a></p>
    <p><a href="{{path('ce_liceo_paraiso_mision')}}">Misión</a></p>
    <p><a href="{{path('ce_liceo_paraiso_vision')}}">Visión</a></p>
    <p><a href="{{path('ce_liceo_paraiso_managers')}}">Encargados</a></p>
    <p><a href="{{path('ce_liceo_paraiso_gallery')}}">Galería</a></p>
{% endblock %}

{% block content %}
    <h1 id="title">{{title}}</h1>
    {% if information == 'map'%}
        <p id="address">{{institution.getUbicacion()}}</p>
        <div id="map_canvas" style="width: 650px; height: 300px; margin-left: 50px;"></div>
        <hr>
        <h2>Área Administrativa</h2>
        <p>{{institution.getEncargados()}}</p>
    {% endif %}
    {% if information == 'general'%}
        <div>{{institution}}</div>
    {% endif %}
{% endblock %}

{% block images %}
    <h1>IMÁGENES</h1>
{% endblock %}